---
layout: default
og: true
og-type: website
class: ""
title: "Home"
---

{% include carosuel-image-banner.html %}

<main class="content" role="main">

  <section id="exits">

    <header class="blog-header">
        <h1 class="blog-title">{{ site.title-exits }}</h1>
        <h2 class="blog-description">{{ site.description-exits }}</h2>
    </header>

    <div class="cf frame">
      {% for casos-d-exit in site.casos-d-exits limit:5 offset:0 %}
        <article class="cf post" itemscope itemtype="http://schema.org/BlogPosting" role="article">
          <div class="article-item">
        {% if casos-d-exit.image %}
        <div class="amp-ad-container amp-ad-container-half-height">
            <a href="{{ site.baseurl }}{{ casos-d-exit.url }}"><amp-img width="300" height="150" alt="{{ casos-d-exit.title }}" src="{{ site.assets-images }}{{ casos-d-exit.image }}"></amp-img></a>
        </div>
        {% endif %}
            <header class="post-header">
              <h2 class="post-title" itemprop="name"><a href="{{ site.baseurl }}{{ casos-d-exit.url }}" itemprop="url">{{ casos-d-exit.title }}</a></h2>
            </header>
          </div>
        </article>
      {% endfor %}
    </div>

  </section>

  <section id="blog">

    <header class="blog-header">
        <h1 class="blog-title">{{ site.title-blog }}</h1>
        <h2 class="blog-description">{{ site.description-blog }}</h2>
    </header>

    <div class="cf frame">
      {% for post in site.posts limit:2 offset:0 %}
        <article class="post" itemscope itemtype="http://schema.org/BlogPosting" role="article">
          <div class="article-item">
        {% if post.image %}
            <a href="{{ site.baseurl }}{{ post.url }}"><amp-img width="600" height="300" layout="responsive" alt="{{ post.title }}" src="{{ site.assets-images }}{{ post.image }}"></amp-img></a>
        {% endif %}
            <header class="post-header">
              <h2 class="post-title" itemprop="name"><a href="{{ site.baseurl }}{{ post.url }}" itemprop="url">{{ post.title }}</a></h2>
            </header>
          </div>
            <section class="post-excerpt" itemprop="description">
              <p>{{ post.excerpt | strip_html | truncatewords: 30 }}</p>
            </section>
            <div class="post-meta">
              <time datetime="{{ post.date }}">{% assign m = post.date | date: "%-m" %}
  {{ post.date | date: "%-d" }}
  {% case m %}
    {% when '1' %}Gener
    {% when '2' %}Febrer
    {% when '3' %}Març
    {% when '4' %}Abril
    {% when '5' %}Maig
    {% when '6' %}Juny
    {% when '7' %}Juliol
    {% when '8' %}Agost
    {% when '9' %}Setembre
    {% when '10' %}Octubre
    {% when '11' %}Novembre
    {% when '12' %}Decembre
  {% endcase %}
  {{ post.date | date: "%Y" }}</time>
              </div>
            </div>
        </article>
      {% endfor %}
    </div>

  </section>

</main>

{% include footer.html %}
