<amp-analytics type="googleanalytics" id="analytics4">
<script type="application/json">
{
  "vars": {
    "account": "UA-47226335-5"
  },
  "triggers": {
    "trackClickOnTwitterLink" : {
      "on": "click",
      "selector": "#tweet-link",
      "request": "social",
      "vars": {
          "socialNetwork": "twitter",
          "socialAction": "tweet",
          "socialTarget": "{{ site.url }}{{ page.id }}"
      }
    },
    "trackPageview": {
      "on": "visible",
      "request": "pageview"
    },
    "trackClickOnLinkedinLink" : {
      "on": "click",
      "selector": "#linkedin-link",
      "request": "social",
      "vars": {
          "socialNetwork": "linkedin",
          "socialAction": "share",
          "socialTarget": "{{ site.url }}{{ page.id }}"
      }
    }
  }
}
</script>
</amp-analytics>