{% if page.section == 1" %}
<p><small>[01] QUID ><br/><a href="/01-quid/nosaltres/">Nosaltres</a> // <a href="/01-quid/partners/">Socis Estratègics</a></small></p>
{% endif %}
{% if page.subsection == "0101" %}
<p><small><a href="/01-quid/">[01] QUID</a> ><br/>Nosaltres // <a href="/01-quid/partners/">Socis Estratègics</a></small></p>
{% endif %}
{% if page.subsection == "0102" %}
<p><small><a href="/01-quid/">[01] QUID</a> ><br/><a href="/01-quid/nosaltres/">Nosaltres</a> // Socis Estratègics</small></p>
{% endif %}
{% if page.section == 3 %}
<p><small>[03] Serveis ><br/><a href="/03-serveis/programes-quid/">Programes QUID</a> // <a href="/03-serveis/productes/">Productes</a></small></p>
{% endif %}
{% if page.subsection == "0301" %}
<p><small><a href="/03-serveis/">[03] Serveis</a> ><br/>Programes QUID // <a href="/03-serveis/productes/">Productes</a></small></p>
{% endif %}
{% if page.subsection == "0302" %}
<p><small><a href="/03-serveis/">[03] Serveis</a> ><br/><a href="/03-serveis/programes-quid/">Programes QUID</a> // Productes</small></p>
{% endif %}
{% if page.section == 4 %}
<p><small>[04] Metodologia ><br/><a href="/04-metodologia/la-pagina-en-blanc/">La Pàgina en blanc</a> // <a href="/04-metodologia/la-cultura-com-a-eix-vertebrador/">La cultura com a eix vertebrador</a></small></p>
{% endif %}
{% if page.subsection == "0401" %}
<p><small><a href="/04-metodologia/">[04] Metodologia</a ><br/>La Pàgina en blanc // <a href="/04-metodologia/la-cultura-com-a-eix-vertebrador/">La cultura com a eix vertebrador</a></small></p>
{% endif %}
{% if page.subsection == "0402" %}
<p><small><a href="/04-metodologia/">[04] Metodologia</a ><br/><a href="/04-metodologia/la-pagina-en-blanc/">La Pàgina en blanc</a> // La cultura com a eix vertebrador</small></p>
{% endif %}
{% if page.collection == "casos-d-exits" %}
<p><small><a href="/06-casos-d-exit/">[06] Casos d'èxit' ></a></small></p>
{% endif %}