<section class="site-banner site-banner-full-width">
  <amp-carousel class="carousel2"
        layout="fill"
        height="625"
        width="1050"
        type="slides"
        loop>
    {% for concepte in site.data.conceptes %}
      <div class="slide">
        <amp-img src="{{ site.assets-images }}{{ concepte.img_525 }}"
            layout="fill" srcset="{{ site.assets-images }}{{ concepte.img_800 }} 800w,{{ site.assets-images }}{{ concepte.img_525 }} 525w" alt="{{ concepte.description }}"></amp-img>
        <div class="caption">
          {{ concepte.description }}
        </div>
      </div>    
    {% endfor %}
    </amp-carousel>

</section>