  <head>
  <script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>
  <script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js"></script>
  <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
  <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>    
  <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
  <script async custom-element="amp-install-serviceworker" src="https://cdn.ampproject.org/v0/amp-install-serviceworker-0.1.js"></script>
  <script async custom-element="amp-iframe" src="https://cdn.ampproject.org/v0/amp-iframe-0.1.js"></script>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }} | {{ site.title | escape | strip_html }} {% else %}{{ site.title | escape }}{% endif %}{% if page.title == "Home" %} | {{ site.description  | escape | strip_html | truncate: 140, "..."}}{% endif %}{% if page.title == "Blog" %} | {{ site.description-blog | scape | strip_html }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    {% include metadata-og.html %}

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  {% include head-icons.html %}

  <script type="application/ld+json">
  {% include metadata.json %}
  </script>

  {% if page.title == "Home" or page.title == "Blog" %}
  <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async></script>
  <script>
    var OneSignal = window.OneSignal || [];
    OneSignal.push(["init", {
    appId: "85adb3aa-ffa1-42a5-bad3-22dac283cca3",
    safari_wed_id: "web.onesignal.auto.2ccd5ae7-3528-4a1e-96f6-138881299499",
    autoRegister: false,
    notifyButton: {
        enable: true,
        text: {
            "tip.state.unsubscribed": "Subscriu-te a les notificacions",
            "tip.state.subscribed": "Estàs subscrit a les notificacions",
            "tip.state.blocked": "Has bloqujat les notificacions",
            "message.prenotify": "Clica per subscriure't a les notificacions",
            "message.action.subscribed": "Gràcies per subscriure't",
            "message.action.resubscribed": "Estàs subscrit a les notificacions",
            "message.action.unsubscribed": "Ja no rebràs més notificacions",
            "dialog.main.title": "Gestiona les notificacions del web",
            "dialog.main.button.subscribe": "SUBSCRIU-TE",
            "dialog.main.button.unsubscribe": "DÓNA'T DE BAIXA",
            "dialog.blocked.title": "Desbloqueja les notificacions",
            "dialog.blocked.message": "Segueix aquestes instruccions per permetre les notificacions"
        }

    }
    }]);
  </script>
  {% endif %}
  
  <style amp-custom>
  {% capture include_to_scssify %}
    {% include styles.scss %}
  {% endcapture %}
  {{ include_to_scssify | scssify }}
  </style>



  <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
  <script async src="https://cdn.ampproject.org/v0.js"></script>
</head>
