{% capture pageurl %}{{page.url}}{% endcapture %}
{% if page.layout == 'page' or page.title == "Home" or page.collection == 'casos-d-exits' or page.section == 6 %}
<amp-sidebar id='drawermenu' layout="nodisplay" side="right">
  <amp-img class='close' src="{{ site.assets-images }}ic_chevron_right_black_24dp_2x.png" width="32" height="32" alt="Close" on="tap:drawermenu.close" role="button" tabindex="0"></amp-img>
  <div class="topheader">
    <a href="/" class="home">QUID</a>
  </div>
  <hr/>
    <div>
    <div class="item">
    {% for link in site.data.main-menu-links %}
      <a class="page-link {% if page.url == link.link or pageurl contains link.link %} active{% endif %}" href="{{ link.link | prepend: site.baseurl }}">{{ link.name }}</a>
    {% endfor %} 
    <hr/>
    <a class="page-link" href="/blog/">QUID Blog</a> 
    </div>
  </div>
</amp-sidebar>
{% endif %}
<header class="site-header">
  <a href="{{ site.baseurl }}/" class="logo" title="QUID[CONNECTEM EMPRESA I CULTURA]"><span class="logo"><amp-img src="{{ site.baseurl }}{{ site.logo }}"  alt="QUID[CONNECTEM EMPRESA I CULTURA]" width="108" height="108" /></span></a>
  {% if page.layout == 'page' or page.title == "Home" or page.collection == 'casos-d-exits' or page.section == 6 %}
  <a id="hamburger" class="button" on='tap:drawermenu.toggle'>
    <amp-img srcset="{{ site.assets-images }}ic_menu_white_1x_web_24dp.png 1x, {{ site.assets-images }}ic_menu_white_2x_web_24dp.png 2x" width="24" height="24" alt="navigation"></amp-img>
  </a>
  {% endif %}

  {% if page.layout == 'post' or page.title == "Blog" %}
  <div class="post-links">
    <a class="page-link" href="/blog/">QUID Blog</a>
  </div>
  {% endif %}
  <!--{% if page.layout == 'page' or page.title == "Home" or page.collection == 'casos-d-exits' or page.section == 6 %}
  <div class="page-links">
    {% for link in site.data.main-menu-links | limit: 1 offset: 0 %}
      <a class="page-link {% if page.url == link.link or pageurl contains link.link %} active{% endif %}" href="{{ link.link | prepend: site.baseurl }}">{{ link.name }}</a>
    {% endfor %}
    {% for link in site.data.main-menu-links | offset: 1 %}
      • <a class="page-link {% if page.url == link.link or pageurl contains link.link %} active{% endif %}" href="{{ link.link | prepend: site.baseurl }}">{{ link.name }}</a>
    {% endfor %}
  </div>
  {% endif %}-->
</header>