---
layout: default
og: true
og-type: website
class: ""
title: "[06] Casos d'èxit"
---

<main class="content" role="main">

  <section id="exits">

    <header class="blog-header">
        <h1 class="blog-title">{{ site.title-exits }}</h1>
        <h2 class="blog-description">{{ site.description-exits }}</h2>
    </header>

    <div class="cf frame">
      {% for casos-d-exit in site.casos-d-exits limit:5 offset:0 %}
        <article class="post post-two-column" itemscope itemtype="http://schema.org/BlogPosting" role="article">
          <div class="article-item">
        {% if casos-d-exit.image %}       
            <a href="{{ site.baseurl }}{{ casos-d-exit.url }}"><amp-img width="300" height="150" layout="responsive" alt="{{ casos-d-exit.title }}" src="{{ site.assets-images }}{{ casos-d-exit.image }}"></amp-img></a>
        {% endif %}
            <header class="post-header">
              <p itemprop="name"><small><a href="{{ site.baseurl }}{{ casos-d-exit.url }}" itemprop="url">{{ casos-d-exit.title }}</a></small></p>
            </header>
          </div>
        </article>
      {% endfor %}
    </div>

  </section>

  

</main>

{% include footer.html %}
