---
layout: default
---
<main class="content" role="main">
  <article class="post">
    <div class="post-meta">
      <h1 class="post-title">{{ page.title }}</h1>
    </div>

    <section class="post-content">
      <a name="topofpage"></a>
      {% if page.image %}
        {% include page-image.html %}
      {% endif %}
      {{content}}
    </section>
    <footer class="post-footer">
      <section class="share">
        <a class="icon" href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.id }}&text={{page.title | cgi_escape}}&via={{ site.twitter_username }}" target="_blank">
          Share on 
          {% include icon-twitter.html %}
        </a>
        <a class="icon" href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.id }}&title={{ page.title | cgi_escape }}&summary={{ page.excerpt | strip_html | truncatewords: 30 }}&source={{ site.url }}">
          Share on
          {% include icon-linkedin.html %}
        </a>
      </section>
        <h2>També et pot interessar</h2>
        <ul>
          {% assign post_count = 0 %}
          {% assign THRESHOLD = site.data.vars.RELATED_POSTS_THRESHOLD %}
          {% for post in site.related_posts %}
            {% if post_count == THRESHOLD %}
              {% break %}
            {% endif %}
            {% for category in post.categories %}
              {% if page.categories contains category %}
                <li>
                  <a href="{{ site.baseurl }}{{ post.url }}">
                    {{ post.title }}
                    <small>{{ post.date | date_to_string }}</small>
                  </a>
                </li>
                {% assign post_count = post_count | plus: 1 %}
                {% break %}
              {% endif %}
            {% endfor %}
          {% endfor %}

          {% assign posts_left = THRESHOLD | minus: post_count %}
          {% unless posts_left == 0 %}
            {% for post in site.related_posts %}
              {% if posts_left == 0 %}
                {% break %}
              {% endif %}

              {% assign already_related = false %}
              {% for category in post.categories %}
                {% if page.categories contains category %}
                  {% assign already_related = true %}
                  {% break %}
                {% endif %}
              {% endfor %}
              {% unless already_related %}
                {% assign posts_left = posts_left | minus: 1 %}
                <li>
                  <a href="{{ site.baseurl }}{{ post.url }}">
                    {{ post.title }}
                    <small>{{ post.date | date_to_string }}</small>
                  </a>
                </li>
              {% endunless %}
            {% endfor %}
          {% endunless %}
        </ul>      
    </footer>
    <div class="bottom-teaser cf">
      <div class="isLeft">
        <h5 class="index-headline featured"><span>Escrita per</span></h5>
        <section class="author">
          <div class="author-image"></div>
          <h4>{{ site.name }}</h4>
          <p class="bio">{{site.bio}}</p>

          <p>
            <span>
              {% if page.github_username %}
                {% include icon-github.html username=page.github_username %}
              {% else %}
                {% include icon-github.html username=site.github_username %}
              {% endif %}
            </span>

            <span>
              {% if site.twitter_username %}
                {% include icon-twitter.html username=site.twitter_username %}
              {% endif %}
            </span>
          </p>
          <hr>
          <p class="published">Publicada <time datetime="{{ page.date }}">{% assign m = page.date | date: "%-m" %}
{{ page.date | date: "%-d" }}
{% case m %}
  {% when '1' %}Gener
  {% when '2' %}Febrer
  {% when '3' %}Març
  {% when '4' %}Abril
  {% when '5' %}Maig
  {% when '6' %}Juny
  {% when '7' %}Juliol
  {% when '8' %}Agost
  {% when '9' %}Setembre
  {% when '10' %}Octubre
  {% when '11' %}Novembre
  {% when '12' %}Decembre
{% endcase %}
{{ page.date | date: "%Y" }}</time></p>
        </section>
      </div>
      {{/post}}
      <div class="isRight">
        <h5 class="index-headline featured"><span>Amb el suport de</span></h5>
        <footer class="site-footer">
          <section class="poweredby">Creat amb orgull gràcies a<a href="http://jekyllrb.com"> Jekyll</a> i <a href="https://github.com/ageitgey/amplify">Amplify</a></section>
          <a class="subscribe" href="{{ "/feed.xml" | prepend: site.baseurl }}"> <span class="tooltip"> <i class="fa fa-rss"></i> Haurieu de subscriure-us al nostra feed.</span></a>
          <div class="inner">
            <section class="copyright">Tot el contigut copyright <a href="mailto:{{ site.email}}">{{site.name}}</a> &copy; {{ site.time | date: '%Y' }}<br>All rights reserved.</section>
          </div>
        </footer>
      </div>
    </div>
  </article>
</main>
